.woo-menu {
  display: flex;
  box-sizing: border-box;
  padding-left: 32px;
  border-bottom: 1px solid $border-color;
  &-item {
    display: flex;
    color: $color-grey;
    height: 48px;
    position: relative;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: $active-menu-item-color;
    }
    &-active {
      color: $active-menu-item-color;
      font-weight: 700;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        background-color: $active-menu-item-color;
      }
    }
    &-disabled {
      color: $disabled-color;
      cursor: not-allowed;
    }
  }
}

.woo-menu-vertical {
  flex-direction: column;
  border-bottom: none;
  border-right: 1px solid $border-color;
  padding-left: 0;
  .woo-menu-item {
    justify-content: flex-start;
    &-active::after {
      width: 4px;
      height: 100%;
      right: -1px;
    }
  }
  .has-active-item .woo-submenu-title::after {
    width: 4px;
    height: 100%;
    right: -1px;
  }
}

.woo-submenu {
  position: relative;
  cursor: pointer;
  .woo-submenu-title {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-grey;
    height: 48px;
    padding: 0 16px;
    &-icon {
      margin-bottom: -0.3em;
      margin-left: 0.5em;
      transition: all 0.3s;
    }
    &:hover {
      color: $active-menu-item-color;
    }
  }
  // 二级菜单里的 menu item 样式
  &-list .woo-menu-item {
    justify-content: flex-start;
    &-active {
      font-weight: 400;
      background-color: $menu-item-bg-active;
      &::after {
        content: none;
      }
    }
  }
}

.woo-menu-vertical .woo-submenu-title-icon,
.woo-submenu-popper .woo-submenu-title-icon {
  margin-left: auto;
  margin-right: 0;
}

.submenu-opened .woo-submenu-title-icon {
  transform: rotate(180deg);
}

.has-active-item {
  > .woo-submenu-title {
    color: $active-menu-item-color;
    font-weight: 700;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -1px;
      background-color: $active-menu-item-color;
    }
  }
}

.woo-submenu-vertical {
  .woo-menu-item,
  .woo-submenu-title {
    height: 40px;
    padding-left: 32px;
  }
  .has-active-item > .woo-submenu-title {
    &::after {
      content: none;
    }
  }
  .woo-submenu-title-icon {
    transform: rotate(0);
  }
  .submenu-opened .woo-submenu-title-icon {
    transform: rotate(180deg);
  }
  // submenu 里的 submenu 组件的样式
  .woo-submenu-vertical {
    .woo-menu-item,
    .woo-submenu-title {
      padding-left: 48px;
    }
  }
}

.woo-submenu-popper {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  border: 1px solid $border-color;
  background-color: $layout-bg-color;
  white-space: nowrap;
  box-shadow: $button-box-shadow;
  border-radius: $border-radius;
  z-index: 99;
  padding: 5px 0;
  min-width: 136px;
  .woo-menu-item,
  .woo-submenu-title {
    height: 30px;
  }
  .woo-submenu-title-icon {
    transform: rotate(-90deg);
  }
  .submenu-opened .woo-submenu-title-icon {
    transform: rotate(90deg);
  }
  // submenu 里的 submenu 组件的样式
  .woo-submenu-popper {
    left: 100%;
    margin-left: 4px;
    margin-top: -30px;
  }
  .has-active-item {
    .woo-submenu-title {
      font-weight: 400;
      background-color: $color-grey;
      background-color: $menu-item-bg-active;
      &::after {
        content: none;
      }
    }
  }
}
