.woo-menu {
  display: flex;
  box-sizing: border-box;
  padding-left: 32px;
  border-bottom: 1px solid $border-color;
  &-item {
    display: flex;
    color: $color-black;
    height: 48px;
    position: relative;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: $active-menu-item-color;
    }
    &-active {
      color: $active-menu-item-color;
      font-weight: 700;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1px;
        background-color: $active-menu-item-color;
      }
    }
    &-disabled {
      color: $disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }
}

.woo-menu-vertical {
  flex-direction: column;
  border-bottom: none;
  border-right: 1px solid $border-color;
  .woo-menu-item {
    justify-content: flex-start;
    &-active {
      &::after {
        width: 4px;
        height: 100%;
        right: -1px;
      }
    }
  }
}

.woo-submenu {
  position: relative;
  cursor: pointer;
  & .has-active-item {
    color: $active-menu-item-color;
    font-weight: 700;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;
      background-color: $active-menu-item-color;
    }
  }
  .woo-submenu-title {
    display: flex;
    align-items: center;
    color: #333;
    height: 48px;
    padding: 0 16px;
  }
  .woo-submenu-list {
    // 二级菜单里的 menu item 样式
    .woo-menu-item {
      height: 30px;
      justify-content: flex-start;
      &-active {
        font-weight: 400;
        color: $active-menu-item-color;
        background-color: $menu-item-bg-active;
        &::after {
          content: none;
        }
      }
    }
  }
  .woo-submenu-popper {
    position: absolute;
    top: 100%;
    transform: translateY(4px);
    border: 1px solid $border-color;
    background-color: $layout-bg-color;
    white-space: nowrap;
    box-shadow: $button-box-shadow;
    border-radius: $border-radius;
    z-index: 99;
    padding: 5px 0;
    min-width: 136px;
  }
}
