@mixin button-size($padding-x, $height, $font-size, $b-radius) {
  padding: 0 $padding-x;
  height: $height;
  line-height: $height;
  font-size: $font-size;
  border-radius: $b-radius;
}

@mixin button-style(
  $bg,
  $color,
  $color-active,
  $border-color,
  $border-color-hover,
  $bg-hover: darken($bg, 5%),
  $bg-active: darken($bg, 14.5%)
) {
  background-color: $bg;
  color: $color;
  border: 1px solid darken($bg, 15%);
  &:hover {
    background-color: $bg-hover;
  }
  &:active {
    color: $color-active;
  }
}

// 展开过渡效果
@mixin zoom-in-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter-active,
  .zoom-in-#{$direction}-exit-active {
    transition: all 0.3s;
  }
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
  }
}

// 渐变过渡效果
@mixin fade-animation($opacityStart: 0, $opacityEnd: 1) {
  .fade-enter-active,
  .fade-exit-active {
    transition: all 0.3s;
  }
  .fade-enter {
    opacity: $opacityStart;
  }
  .fade-enter-active {
    opacity: $opacityEnd;
  }
  .fade-exit {
    opacity: $opacityEnd;
  }
  .fade-exit-active {
    opacity: $opacityStart;
  }
}
